# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'ArmPipeline-con'
    subscriptionId: '9b8dae74-edf2-4de2-a4b2-f83a54510ad4'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'ArmPipelineRG'
    location: 'Japan East'
    templateLocation: 'URL of the file'
    csmFileLink: 'https://raw.githubusercontent.com/aire562/ArmPipeline-repo/main/HelloWorld/sample.json'
    deploymentMode: 'Incremental'
    deploymentName: 'DeployPipelineTemplate'